html, body{
    margin: 0;
    width: 100%;
    
    margin: 0 0;
    padding: 0 0;
}

.body{
    display: flex;
    margin: 0 0;
    padding: 0 0;
}
.topBorder{
    background-color: rgb(59, 59, 59);
    width: 100%;
    height: 50px;
}
.nav-container{

    display: flex;
    
    width: 100vw;
    height: 50px;
    
    justify-content: center;
}
.nav{
    
    width: 1000px;
    display: flex;
    justify-content: space-around;
}
ul{
    background-color: transparent;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
   
}
li{
    flex: auto;
    
    height: 25px;
    padding: 0 100px;
    
}
.jumbotron{
}
.awards{
    background-color: rgb(253, 59, 59);
    width: 100%;
    height: 250px;
    text-align: center;
}
/* .signUp{
    width: 100%;
    height: 615px;
    background-color: blue;
    flex-direction: row;
    align-content: center;
} */
.textPanel{
    background-color: white;
    height: 615px;
    width: 994px;
    display: inline-block;
    padding: 130px 130px 150px;
    
}
.center{
    text-align: center;
}
#coffee{
    height: 615px;
    width: 994px;
}
.imagePanel{
    height: 615px;
    width: 50%;
    float: right;
}
.info{
    display: flex;
    height: 361px;
    padding: 60px 0;
    width: 100vw;
    justify-content: center;
}
.best{
    width: 480px !important; 
    height: 241px;
}
#addBorder{
    border-left:rgb(59, 59, 59,.03)!important ;
    border-right:rgb(59, 59, 59,.03) ;
}
.info div {
    width: 340px;
    height: 241px;
    
    text-align: center;
}    
.browse{
    
}
.textPanel2{
    background-color: white;
    height: 615px;
    width: 994px;
    display: inline-block;
    padding: 130px 130px 150px;
    
}
.imagePanel2{
    height: 615px;
    width: 50%;
    float: left;
}

.deliver{
    text-align: center;
    padding-top: 60px;
    width: 100%;
    height: 250px;

}
.spacer{
    margin-bottom: 70px;
}
.jumbotron{
    background-image: url("images/coffeeBagJumbo.png");

}
.wrapper{
    display: flex;
    width: 100vw;
    height: 800px;
    /* grid-template-columns: repeat (4,1fr);
    grid-template-rows: repeat (3,1fr)
     */
     flex-direction: row;
    justify-content: center;
    align-items: center;
    

}
.roasters{
    
    height: 247px;
    padding: 60px;
    width: 1300px;
    height: 900px;
    
    
    /* width: 100vw; */
     

}

.quiz{
    background-color: rgb(253, 59, 59);
    width: 100%;
    height: 250px;
    text-align: center;

}
.footer{
    background-color: rgb(59, 59, 59);
    width: 100%;
    height: 800px;

}