html, body{
    margin: 0;
    width: 100%;
    
    margin: 0 0;
    padding: 0 0;
}

.body{
    display: flex;
    margin: 0 0;
    padding: 0 0;
}
.topBorder{
    background-color: rgb(59, 59, 59);
    width: 100%;
    height: 50px;

}
.jumbotron{
background-image: url("images/headerImage.jpg");
}
.signup{

}
.info{

}
.browse{
    
}
.deliver{

}
.jumbo2{

}
.roasters{

}
.quiz{

}
.footer{

}